/* This stylesheet contains styles related to 
  the user dashboard page of the application. */
/* ----------------------------------
      Table of Contents
   ----------------------------------
     1. General styles
     2. Foods section
     3. Food card and its components
*/


/* --------------------
    1. General styles
   -------------------- */
:root {
  --food-tag-bg-color: #FFDBF2;
}

.container {
  width: 90%;
  margin: 0 auto 80px auto;
  font-family: 'Segoe UI', Arial, sans-serif;
}


/* -------------------
    2. Foods section
   ------------------- */
/* Section which contains the title and foods. */
.foods-section {
  margin-top: 2rem;
}

/* Foods which contains all the food cards is displayed using
  responsive grid layout. */
.foods-section .foods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 20px 30px;
}


/* -----------------------------------
    3. Food card and its components
   ----------------------------------- */
.food-card {
  position: relative;
  width: 100%;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0px 1px 5px 0px rgb(222 222 222);  
  -webkit-box-shadow: 0px 1px 5px 0px rgb(222 222 222);
  -moz-box-shadow: 0px 1px 5px 0px rgb(222 222 222);
  cursor: pointer;
}

.food-image {
  width: 100%;
  height: 180px;
}

.food-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 12px 12px 0 0;
}

.card-body {
  position: relative;
  width: 90%;
  margin: 1rem auto;
}

.food-name {
  margin: -5px 0 5px 0;
}

.food-name, .food-price {
  display: block;
  font-size: 25px;
  font-weight: 500;
}

.food-tag {
  background-color: var(--food-tag-bg-color);
  color: var(--brand-color);
  width: auto;
  height: 20px;
  padding: 0 8px 4px 8px;  
  font-size: 13px;
  font-weight: 500;
  border-radius: 15px;
  white-space: nowrap;
}

.food-price {
  margin-top: 12px;
}