:root {
  --form-highlight-color: #1e90ff;
  --brand-color: #6F1E51;
}

.main-container {
  width: 500px;
  margin: auto;
  margin-top: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
  text-align: center;
  margin-bottom: -3rem;
}

.logo-container img {
  width: 150px;
  height: 150px;
}

.main-container h1 {
  text-align: center;
}

.main-container .form-section {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  width: 100%; 
  box-sizing: border-box;
}

.form-section label {
  display: block;
  font-size: 17px;
  font-weight: 500;
}

.form-section input {
  position: relative;
  width: 100%;
  margin: 15px 0;
  padding: .7rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 8px;
  caret-color: var(--brand-color);
  box-sizing: border-box;
}

.form-section input:focus {
  border: 2px solid var(--form-highlight-color);
  transition: border .5s;
}

.status-message {
  font-size: 17px;
}

.form-section button {
  display: block;
  width: 100%;
  margin: 5px 0 12px 0;
  padding: .7rem .4rem;
  font-size: 17px;
  border: 0;
  border-radius: 8px;
  background-color: var(--brand-color);
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.form-section a {
  text-decoration: none;
  margin-top: 30px;
  font-size: 17px;
  color: #1677d8;
}

.form-section a:hover {
  text-decoration: underline;
}

.danger {
  color: #ce1d1d;
}

@media (max-width: 600px) {
  .main-container {
    width: 80%;
    margin-top: 80px;
  }
}