/* This stylesheet contains styles related to 
  the login and register page of the application. */
/* ------------------------
      Table of Contents
   ------------------------
     1. General styles
     2. Information section
     3. Form section
     4. Animations
     5. Media Queries
*/


/* ------------------------
      1. General styles
   ------------------------ */
:root {
  --blue-link-color: #3EA2DC;
  --brand-color: #6F1E51;
  --light-bg-color: #fffbfb;
}

/* Giving `html` and `body` 100% height since the `main-container`
  is going to have a 100% height of the window. */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Displaying the `info-section` and `form-section` using row layout. */
.main-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Background cover image displayed with half the viewport width. */
.main-bg-cover {
  position: fixed;
  width: 50vw;
  height: 100%;
  top: 0;
  left: 50vw;
  filter: brightness(.6);
  z-index: -1;
}

/* ---------------------------
      2. Information section
   --------------------------- */
   
/* Displaying the elements using column layout. */
.info-section, .form-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.info-section .logo {
  width: 200px;
  height: 120px;
  margin-bottom: -2rem;
}

.info-section h1, p {
  font-weight: bold; 
  text-align: center;
}

.info-section h1 {
  position: relative;
  font-size: 75px;
  margin: 0;
  color: var(--brand-color);
  animation: slide-left 1s 1 forwards;
  opacity: 0;
}

.info-section p {
  position: relative;
  opacity: 0;
  margin: 10px 0 0 0;
  font-size: 21px;
  color: #707070;
  animation: opacity 1s .5s 1 forwards;
}

.info-section p a {
  color: var(--blue-link-color);
  text-decoration: none;
}

.info-section p a:hover {
  color: #318bbe;
  text-decoration: underline;
}

/* -------------
      3. Form
   ------------- */

form {
  width: 500px;
  padding: 2rem; 
  background-color: #fff;
  border: 1.8px solid #ddd;
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 1;
}

form label {
  display: inline-block;
  color: #0c0c0c;
  font-size: 19px;
}

/* Indicator to indicate mandatory fields. */
form sup {
  color: #ff0000;
  font-weight: bold;
  font-size: 19px;
}

form input {
  position: relative;
  width: 100%;
  margin: 15px 0;
  font-size: 17px;
  padding: .8rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  /* Changing the caret color to brand color. */
  caret-color: var(--brand-color);
  box-sizing: border-box;
  outline: none;
}

form input:focus {
  outline: none;
  border: 2px solid var(--blue-link-color);
  transition: border .5s;
}

form button {
  margin-top: 10px;
  padding: .7rem 1.3rem;
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  background-color: var(--brand-color);
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  transition: background-color .4s;
}

form button:hover {
  background-color: #7e3864;
  color: #fff;
}

/* Class used to style the error message. */
.text-danger {
  color: #da1b1b;
  text-align: left;
  margin: 5px 0 8px 0;
  font-weight: 500;
  font-size: 19px;
}

/* ------------------
      4. Animations
   ------------------ */

/* Animates a element to slide from left. */
@keyframes slide-left {
  0% {
    left: -35%;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

/* Animates a element to visible from 0 opacity. */
@keyframes opacity {
  from {opacity: 0; } to { opacity: 1; }
}

/* ---------------------
      5. Media Queries
   --------------------- */

@media (max-width: 1220px) {
  /* Displaying the  `info-section` and `form-section` in a column
    layout on large devices. */
  .main-container {
    flex-direction: column;
  }

  /* The background image covers the entire window. */
  .main-bg-cover {
    width: 100vw;
    left: 0;
  }

  .info-section {
    width: 100vw;
    z-index: 1;
    opacity: .9;
    background-color: #fff;
    padding-bottom: 2.3rem;
    box-sizing: border-box;
  }

  .form-section {
    margin-top: 3rem;
    padding-top: 0rem;
  }
}

/* Media queries for medium size devices. */
@media (max-width: 700px) {
  /* Resetting the font sizes. */
  .info-section h1 {
    font-size: 60px;
  }

  form {
    width: 100%;
    padding: 1.5rem;
  }
}

@media (max-width: 500px) {
  .info-section h1 {
    font-size: 40px;
    line-height: 3rem;
  }

  .info-section p {
    font-size: 19px;
  }
}