{% extends "admin_layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}
  <div class="container">
    <div class="stats">
      <div class="stat-box">
        <p><a href="{{ url_for('all_customers') }}">All Customers</a></p>
      </div>
      <div class="stat-box">
        <p><a href="{{ url_for('all_orders') }}">All Orders</a></p>
      </div>
      <div class="stat-box">
        <p><a href="{{ url_for('all_items') }}">All Menu Items</a></p>
      </div>
    </div>
  </div>
{% endblock %}