{% extends "dashboard_layout.html" %}

{% block title %} Dashboard | Swito {% endblock %}

{% block body %}
  <div class="container">
    {% for tag in tags %}
      <section class="foods-section">
        <h2 class="section-title">{{ tag }}</h2>
        <div class="foods">
          {% for food in foods[tag] %}
          <div class="food-card" data-food-id="{{ food.id }}">
            <div class="food-image">
              <img src="{{ food.img_url }}" 
                alt="{{ food.name }} image">
            </div>
            <div class="card-body">
              <span class="food-name">{{ food.name }}</span>
              <span class="food-tag">{{ food.tag_name }}</span>
              <span class="food-price">{{ food.price }}</span>
            </div>
          </div>
        {% endfor %}
        </div>
      </section>
    {% endfor %} 
  </div>
{% endblock %}