<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Swito | Get your favourite foods with a click</title>
</head>
<body>
  <main>
    <div class="logo-container">
      <img src="{{ url_for('static', filename='images/logo.svg') }}"
        alt="Logo image for swito online food ordering application">
    </div>
    <h1>Swito</h1>
    <p>You will miss your favourite foods again</p><hr>
    <div class="button-box">
      <button href="{{ url_for('login') }} ">Login</button>
      <button href="{{ url_for('register') }}">Register</button>
    </div>
  </main>
</body>
</html>