<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login-register-layout.css') }}">
  <title> {% block title %} {% endblock %}</title>
</head>
<body>
  <main class="main-container">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='images/logo.svg') }}"
          alt="Logo image for swito online food ordering application">
    </div>
    {% block body %} {% endblock %}
  </main>
</body>
</html>