{% extends "login-register-layout.html" %}

{% block title %} Login | Swito {% endblock %}

{% macro get_flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
      <p class="{{ category }} status-message">{{ msg }}</p>
    {% endfor %}
  {% endwith %}
{% endmacro %}

{% block body %}
  <main class="main-container">
    <section class="info-section">
        <img src="{{ url_for('static', filename='icons/logo.svg') }}"
        alt="A logo with a knife and spoon infront of black rectangle">
        <h1>Login to Swito</h1>
        <p>
          New here, <a href="{{ url_for('register') }}">Register instead.</a>
        </p>
    </section>

    <section class="form-section">
      <img src="{{ url_for('static', filename='images/foods-beverages-bg.jpg') }}"
        alt="Background image with foods and beverages">
      <form action="{{ url_for('login') }}" method="POST">
        <label for="Username">Username:</label>
        <input type="text" name="username" placeholder="Your Username" 
          required>

        <label for="Password">Password:</label>
        <input type="password" name="password" placeholder="Your Password"
          required>
        
        {{ get_flash_messages() }}
        
        <button>Login</button>
      </form>
    </section>
  </main>
{% endblock %}