<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet"
  href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login-register.css') }}">
  <title>Login to Swito</title>
</head>
<body>
  <main class="main-container">
    <img src="{{ url_for('static', filename='images/foods-beverages-bg.jpg') }}"
      alt="Background image with foods and beverages" class="main-bg-cover">
    <section class="info-section">
        <img src="{{ url_for('static', filename='icons/logo.svg') }}" class="logo"
        alt="A logo with a knife and spoon infront of black rectangle">
        <h1>Login to Swito</h1>
        <p>
          New here, <a href="{{ url_for('register') }}">Register instead.</a>
        </p>
    </section>

    <section class="form-section">
      <form action="{{ url_for('login') }}" method="POST">
        <label for="Username">Username:</label>
        <input type="text" name="username" placeholder="Your Username" 
          required>

        <label for="Password">Password:</label>
        <input type="password" name="password" placeholder="Your Password"
          required>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, msg in messages %}
            <p class="text-{{ category }}">{{ msg }}</p>
          {% endfor %}
        {% endwith %}
        
        <button>Login</button>
      </form>
    </section>
  </main>
</body>
</html>