<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login-register.css') }}">
  <title>Login to Swito</title>
</head>
<body>
  <main class="main-container">
    <img src="{{ url_for('static', filename='images/foods-beverages-bg.jpg') }}"
      alt="Background image with foods and beverages" class="main-bg-cover">
    <section class="info-section">
        <img src="{{ url_for('static', filename='icons/logo.svg') }}" class="logo"
        alt="A logo with a knife and spoon infront of black rectangle">
        <h1>Create Account</h1>
        <p>
          Aldready a member, <a href="{{ url_for('login') }}">login instead.</a>
        </p>
    </section>

    <section class="form-section">
      <form action="{{ url_for('register') }}" method="post">
        <label for="Username">Username:</label><sup>*</sup>
        <input type="text" class="{{ error['is_error'] }}" name="username" 
          placeholder="Enter you username" required>

        {% if 'user_msg' in error %}
          <p class="text-error"> {{ error['user_msg'] }} </p>
        {% endif %}

        <label for="Password">Password:</label><sup>*</sup>
        <input type="password" class="{{ error['is_error'] }}" name="password" 
          placeholder="Enter your password" required>

        <label for="Confirm Password">Confirm Password:</label><sup>*</sup>
        <input type="password" class="{{ error['is_error'] }}" name="confirm_password" 
          placeholder="Retype password" required>

        {% if 'pass_msg' in error %}
          <p class="text-error"> {{ error['pass_msg'] }} </p>
        {% endif %}

        <button>Register</button>
      </form>
    </section>
  </main>
</body>
</html>