:root {
  --food-tag-bg-color: #FFDBF2;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.form {
  margin: 0 auto;
  height: 500px;
  overflow-y: scroll;
}

.show-from-top {
  position: absolute;
  top: -800px;
}

.form label {
  display: block;
  font-weight: 500;
  color: #403e3e;
}

.form input:focus {
  border: 2px solid var(--brand-color);
}

.form select {
  display: block;
  margin: 16px 0 16px 0;
  padding: 10px;
  border: 2px solid rgb(192, 191, 191);
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.form select::selection {
  border: 2px var(--brand-color);
}

.show-from-top.toggle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  animation: slide-top .6s forwards;
}

@keyframes slide-top {
  from {top: -800px} to {top: 3rem;}
}

.food_tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: -5px 0 15px 0;
}

.food_tags .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--food-tag-bg-color);
  color: var(--brand-color);
  padding: 3px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  margin: 10px 0 0 10px;
}

.food_tags .close {
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
}